@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
}

body{
    background: #dcdce6;
    background-image: url('./assets/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

